  <head>
    <title>Delete</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
    <!--Vista inicial-->
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(33, 184, 139);">
        <a href="#" class="navbar-brand">Borrar</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- Page Content -->
    <main role="main" class="container my-auto">
      <br></br>
        <table class="table">
          <thead class="thead-ligth" style="background-color: rgb(33, 184, 139);">
            <tr>
              <th scope="col">Matricula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Primer Apellido</th>
              <th scope="col">Segundo Apellido</th>
              <th scope="col">Edad</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Sexo</th>
              <th scope="col">Estado</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>
                <button type="button" class="btn" style="background:#75F5A5">Borrar</button>
              </td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>
                <button type="button" class="btn" style="background:#75F5A5">Borrar</button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>
                <button type="button" class="btn" style="background:#75F5A5">Borrar</button>
              </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>
                    <button type="button" class="btn" style="background:#75F5A5">Borrar</button>
                </td>
            </tr>
          </tbody>
        </table>

    <div style="width: 500px;">
        <a href="/"><button type="button" class="btn" style="background:#dd4040">Regresar</button></a>
    </div>

  </body>
