
  <head>
    <title>View</title>
  </head>

  <body>
    <!--Vista inicial-->
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(33, 184, 139);">
        <a href="#" class="navbar-brand">Vista</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- Page Content -->
    <main role="main" class="container my-auto">
      <br></br>
        <table class="table">
            <thead class="thead-ligth" style="background-color: rgb(33, 184, 139);">
            <tr>
              <th scope="col">Matricula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Primer Apellido</th>
              <th scope="col">Segundo Apellido</th>
              <th scope="col">Edad</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Sexo</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
            </tr>
            <tr>
          </tbody>
        </table>

    <div style="width: 500px;">
        <a href="/"><button type="button" class="btn" style="background:#dd4040">Regresar</button></a>
    </div>

  </body>
